.DS_Store
build
docs/_build/*
*.pyc
.vscode/*
dist
gospl.egg-info
fortran/_fortran-f2pywrappers.f
fortran/_fortran-f2pywrappers2.f90
fortran/_fortranmodule.c
tests/.coverage
.coverage
tests/output/normal
tests/output/forward
tests/output/backward
output
*.so
.eggs
MANIFEST
.ipynb_checkpoints
