numpy>=1.19.5
numpy-indexed==0.3.5
scipy==1.5.4
Cython==0.29.22
mpi4py==3.0.0
petsc4py==3.21.2
h5py==2.9.0
pandas==1.0.3
ruamel.yaml==0.16.5
meshio==3.3.1
meshplex==0.11.6
pre-commit>=2.2.0
vtk==9.0.1
