numpy==1.25.2
numpy-indexed==0.3.7
scipy==1.11.1
Cython==3.0.0
mpi4py==3.1.4
petsc4py==3.19.4
h5py==3.9.0
pandas==2.0.3
ruamel.yaml==0.17.32
meshio==5.3.4
meshplex==0.19.1
pre-commit>=2.2.0
vtk==9.0.1
scikit-fuzzy==0.4.2
