numpy==1.18.4
scipy==1.4.1
Cython==0.29.19
mpi4py==3.0.3
petsc4py==3.13.0
h5py==2.10.0
pandas==1.0.4
ruamel.yaml==0.16.10
fastfunc==0.2.2
meshio==4.0.13
meshplex==0.13.0
pre-commit==2.4.0
vtk==9.0.0
numpy-indexed==0.3.5
