numpy>=1.19.2
scipy>=1.5.2
Cython>=0.29.21
mpi4py==3.0.3
petsc4py>=3.13.0
h5py>=2.10.0
pandas>=1.1.2
ruamel.yaml>=0.16.12
fastfunc==0.2.3
meshio>=4.2.2
meshplex>=0.13.4
pre-commit>=2.7.1
vtk>=8.1.2
numpy-indexed==0.3.5
scikit-fuzzy==0.4.2
